body {
    background-color: #102338;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


/* header style start */
.header {
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h n"
                         "s b"
                         "t t";
}

.name {
    grid-area: h;
    font-size: 4em;
    font-weight: 400;
}

.nav{
    list-style-type: none;
    padding-top: 150px;
    line-height: 60px;
    grid-area: n;
}

nav a:link{
    color: #2966ac;
}

nav a:visited {
    color: #1e4a7e;
}

nav a:hover {
    color: #317ad3;
}

.socials > a {
    text-decoration: none;
    color: #2966ac;
}

.socials {
    grid-area: s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    margin-top: -80px;
}

.socials > a:link {
    color:#2966ac
}

.socials > a:visited {
    color: #1e4a7e;
}

.socials > a:hover {
    color: #317ad3;
}

.tag_line {
    margin-top: 20px;
    margin-bottom: 180px;
    grid-area: t;
}
/* header style end */

/* --------------------------------------------- */

/* about me style start */
.about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    padding-bottom: 200px;
}

.about_me > p {
    padding: 20px;
    line-height: 30px;
}

#About_Me > h2 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin-right: 500px;
} 

.profile_img {
    height: 250px;
    border: solid;
}
/* about me end */

/* --------------------------------------------- */

/* work sample start */
#Work_Samples > h2 {
    font-size: 3em;
    font-weight: 300;
    text-align: right;
    margin-right: 180px;
}

.work_samples {
    margin: 20px;
}

.Relevant_Work > li {
    padding-top: 25px;
}

li a:link{
    color: #2966ac;
}

li a:visited{
    color: #1e4a7e;
}

li a:hover{
    color: #317ad3;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}

button a:link{
    color: #2966ac;
}

button a:visited{
    color: #1e4a7e;
}

button a:hover{
    color: #317ad3;
}

.Relevant_Work {
    text-align: center;
    list-style-type: none;
    line-height: 30px;
}
/* work sample end */

/* --------------------------------------------- */

/* skills and interests start */
.skills > h2 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin-right: 500px;
    margin-top: 200px;
}

.skills > ul {
    margin-bottom: 70px;
    line-height: 30px;
}
/* skills and interests end */